.container {
    width: 45%;
    margin: auto;
    min-height: 50vh;
    background-color: gray;
    border: 5px black solid;
    border-radius: 20px;
    padding: 12px;
}

.tracklistHead {
    width: 100%;
    margin: auto;
    padding: 0.2em 0;
    text-align: center;
    font-size: 2em;
}

@media (max-width: 768px) , (orientation: portrait) {
    .container {
      width: 80%;
      margin: 20px;
    }
  }
  