.container {
    width: 45%;
    margin: auto;
    max-height: 600px;
    background-color: gray;
    border: 5px black solid;
    border-radius: 20px;
    padding: 12px;
}

.tracklistHead {
    width: 100%;
    margin: auto;
    padding: 0.2em 0;
    text-align: center;
    font-size: 2em;
}
