.trackCard {
    height: 64px;
    padding: 5px;
    margin: 5px auto;
    width: 80%;
    background-color: black;
    color: white;
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 5px 0px rgba(0, 0, 255, 0.25);
}

.albumArt {
    height: 64px;
    width: 64px;
}

.songDetails {
    display: flex;
    width: 72%;
    flex-direction: column;
    margin-left: 1em;
    justify-content:space-evenly;
}

.trackButton {
    height: 64px;
    width: 64px;
    border: 2px solid white;
    border-radius: 32px;
    box-shadow: ;
    font-size: 24px;
    transition: transform 0.2s ease-in-out;    
}

.trackButton:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
}