.app {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh; /* Make the body at least the height of the viewport */
  margin: 0;        /* This is crucial to remove the default browser margin */
  padding: 0; 
}

.appHeader {
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
  font-size: 1.5em;
}

.dashboard {
  display:flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.saveToSpotify {
  display: flex;
  margin: auto;
  justify-content: center;
}

.btnSaveToSpotify {
  padding: 15px 50px;
  background-color: whitesmoke;
  font-size: larger;
  font-weight: bold;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 30px;
  border: 0px;
  border-bottom: 5px solid grey;
  border-right: 5px solid grey;
}

.btnSaveToSpotify:hover {
  background-color: chartreuse;
  transform: scale(1.1);
  transition-duration: 200ms;
  border-bottom: 5px solid green;
  border-right: 5px solid green;
}

.footer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

