.app {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.appHeader {
  width: 100%;
  text-align: center;
  color: whitesmoke;
  font-size: x-large;
}

.searchBar {
  width: 100%;
  justify-items: center;
}

.dashboard {
  display:flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-color: peachpuff;
}

.tracklist {
  background-color: grey;
  width: 40%;
  justify-items: center;
  justify-content: center;
  max-height: 600px;
  overflow:auto;
}

.tracklist::-webkit-scrollbar {
  width: 16px; /* width of the entire scrollbar */
}

.tracklist::-webkit-scrollbar-track {
  background: pink; /* color of the scrollbar track */
}

.tracklist::-webkit-scrollbar-thumb {
  background-color: purple; /* color of the scrollbar thumb */
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* creates padding around the thumb */
}

